In [1]:
import pandas as pd, numpy as np
from scipy.sparse import coo_matrix
import matplotlib.pyplot as plt, seaborn as sns

## Reading Data

In [2]:
pred = pd.read_csv("../result/first-CommonNeighbours(10).csv", header=None)
actual = pd.read_csv("../data/second_nodate.csv", header=None)
full = pd.read_csv("../data/twitter.csv")

## Calculating TP, FP, TN, FN

In [3]:
# Concatenating the two columns
full.head()

   Source  Target  Timestamp
0       0      11          1
1       0    4893          1
2       0    6855          1
3       0   66284          1
4       0   99635          1

In [4]:
pred.head()

        0       1
0  (70841  71106)
1  (74841  12677)
2  (61724  39496)
3  (96050  95334)
4  (71140  71195)

In [5]:
pred.columns

Int64Index([0, 1], dtype='int64')

In [6]:
pred['edge'] = pred[0].astype(str) + ',' + pred[1].astype(str)
pred.head()

        0       1           edge
0  (70841  71106)  (70841,71106)
1  (74841  12677)  (74841,12677)
2  (61724  39496)  (61724,39496)
3  (96050  95334)  (96050,95334)
4  (71140  71195)  (71140,71195)

In [7]:
pred['edge'][0]

'(70841,71106)'

In [8]:
actual['edge'] = '(' + actual[0].astype(str) + ',' + actual[1].astype(str) + ')'
actual.head()

    0      1       edge
0   8   1464   (8,1464)
1   8   1986   (8,1986)
2   8  17191  (8,17191)
3   8  23214  (8,23214)
4  15     83    (15,83)

In [9]:
# changing dtypes
actual[0] = '(' + actual[0].astype(str) + ')'
actual[1] = '(' + actual[1].astype(str) + ')'

In [10]:
# Calculating true positive
correct = actual.join(pred, on='edge', how='inner')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat