# Comparison of Facebook and Twitter Data

In [1]:
import pandas as pd, numpy as np

In [5]:
twitter = pd.read_csv("../data/first_nodate.csv", header=None)

In [6]:
twitter.head(5)

   0      1
0  0     11
1  0   4893
2  0   6855
3  0  66284
4  0  99635

In [13]:
facebook = pd.read_csv("../data/fb_data/fb_big_edges_cleaned_full", header=None)

In [14]:
facebook.head(5)

   0  1
0  1  2
1  1  3
2  1  4
3  1  5
4  1  6

Comparing the number of edges

In [15]:
print("Twitter #edges:", len(twitter))
print("Facebook #edges:", len(facebook))

Twitter #edges: 417869
Facebook #edges: 1545686

In [18]:
facebook_sample = pd.read_csv("../data/fb_data/fb_small_edges_cleaned_sample", header=None)

In [19]:
len(facebook_sample)

4555